.product-card {
  flex-direction: column;
  border: 1px solid var(--primary-bg-color);
  width: 23.5%;
  height: 22.5vw;
  background-color: var(--primary-bg-white-color);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
  padding: 2.5em;
  margin-bottom: 2.5em;    
  gap: .5em;

}

.product-card>img {
  max-width: 75%;
  max-height: 75%;
  flex-grow: 1;
  filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.2));
}

@media (max-width: 850px) {
  .product-card {
    width: 75%;
    height: 50em;
    margin-bottom: 5em;
  }

  .product-card>img {
    max-width: 85%;
  }
}